*{
    margin: 0;
    padding: 0;
}

.modalinvisible{
    display: none;
}

.contMapPaises{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contMapPaises svg{
    width: 100%;
    height: 100vh;
}
.contMapPaises .contModalClick{
    width: 0;
    height: 597px;
    right: 0;
    /* background-color: rgb(255, 0, 0); */
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/cafe3.jpg');    background-size: cover;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    background-position: center;
    position: absolute;
}
.contMapPaises .contModalClickVisible{
    width: 420px;   
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/cafe3.jpg');    background-size: cover;
    transition: 0.8s all;
}
.contModalClick span{
    color: white;
    cursor: pointer;
}

.Usamodalvisible{
    width: 420px;   
    background-image: linear-gradient(rgba(27, 27, 27, 0.85), rgba(0, 0, 0, 0.755)), url('./images/cafe3.jpg');    background-size: cover;
    transition: 0.8s all;
}